html {
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	color: #333;
}

a {color: #333; text-decoration: none;}
a:hover {color: royalblue; text-decoration: underline;}

.entry {
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 20px;
	background-color: #eee;
}

.entry h2 { margin: 5px auto 2px auto; }

ul {
	display: inline-block;
	text-align: initial;
}

body {
	margin: 0 !important;
	padding: 0 !important;
	background-color: #A9A9A9;
	text-align: center;
}
footer {
	text-align: left;
}
